body {
  color: #ffeecf;
  background-color: #1d3557;
}

h1,
h2 {
  font-family: "Noto Serif", "Open Sans";
  text-align: center;
}

legend {
  font-weight: bold;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.jumbotron {
  background-color: #d36582;
  margin: 0;
  padding: 0px;
}

.navbar {
  background-color: #2b59c3;
  margin: 0px;
  padding: 0px;
}

.modal-title,
.form-check {
  color: #d36582;
}

.mainContent {
  margin: 10px;
}

.site-footer {
  margin: 10px;
  padding: 10px;
}
