body {
  color: #ffeecf;
  background-color: #1d3557;
}

h1,
h2 {
  font-family: "Noto Serif", "Open Sans";
  text-align: center;
}

.jumbotron {
  background-color: #d36582;
}

.site-footer {
  margin: 10px;
  padding: 10px;
}
